[MASTER]

ignore=tests

[MESSAGE CONTROL]

disable=raw-checker-failed,
        bad-inline-option,
        locally-disabled,
        file-ignored,
        suppressed-message,
        useless-suppression,
        deprecated-pragma,
        use-symbolic-message-instead,
        missing-module-docstring,
        missing-function-docstring,
        missing-class-docstring,
        import-error,
        unused-import,
        cyclic-import,
        wrong-import-order,
        wrong-import-position,
        broad-except,
        no-value-for-parameter

[FORMAT]

[REFACTORING]

[DESIGN]
max-line-length=130
max-returns=8
max-args=7