<!DOCTYPE html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% extends "layout.html" %}
{% block navbar %}

<h2>Add a book</h2>
<br>
<form action="/savedbook" method="POST">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <p>Book name:<br>
        <input type="text" name="bookname" maxlength="50" required>
    </p>

    Author (list if many):
    <p>
        <input type="text" name="author" maxlength="60" required>
    </p>

    Year:
    <p>
        <input type="int" name="year" maxlength="4" required>
    <p>
        <input type="submit" value="Save">
</form>


<a href="/startpage">Back to startpage</a>

{% endblock %}