<!DOCTYPE html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>MyBooks</title>
<link rel="stylesheet" href="../static/style.css">
<h1><a href="/startpage">MyBooks</a></h1>

    <div class="flex_container">
        {% if hint %}
            <p>{{ hint }}</p>
        {% endif %}
        {% if session.username  %}
            <a href="/startpage" class="button">Back to mainpage</a>
        {% else %}
            <a href="/logout" class="button">Return</a>
        {% endif %}
    </div>

