<form action="/result" method="POST">
    Progress:
    <p>
    <input type="radio" name="status" value="Finished"> Finished
    <input type="radio" name="status" value="Reading"> Reading
    <input type="radio" name="status" value="Dropped"> Dropped
    <input type="radio" name="status" value="Plan-to-read"> Plan-to-read
    <p>
    Rate from 1-10:
    <p>
    <input type="radio" name="grade" value="1"> 1
    <input type="radio" name="grade" value="2"> 2
    <input type="radio" name="grade" value="3"> 3
    <input type="radio" name="grade" value="4"> 4
    <input type="radio" name="grade" value="5"> 5
    <input type="radio" name="grade" value="6"> 6
    <input type="radio" name="grade" value="7"> 7
    <input type="radio" name="grade" value="8"> 8
    <input type="radio" name="grade" value="9"> 9
    <input type="radio" name="grade" value="10"> 10
    <p>
    Write a review: <br>
    <textarea name="review" rows="10" cols="50"></textarea>
    <p>
    <input type="submit" value="Save">
    </form>
