<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Books</title>
</head>
<body>
    <h1>My Books</h1>

    {% if user_books %}
        <ul>
            {% for book in user_books %}
                <li>
                    <strong>Name:</strong> {{ book.name }}<br>
                    <strong>Status:</strong> {{ book.status }}<br>
                    <strong>Grade:</strong> {{ book.grade }}<br>
                    <strong>Review:</strong> {{ book.review }}<br>
                    <hr>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>{{ error_message }}</p>
    {% endif %}
</body>
<a href="/search">Search</a>
<p>
<a href="/startpage">Back to startpage</a>
</html>
