<!DOCTYPE html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% extends "layout.html" %}
{% block nonavbar %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <h2>My Reviews</h2>
</head>
<br>
{% if count %}
<br>
    We found this many reviews for you: {{ count }}
    <br>
    {% endif %}
<body>

<p></p>
    {% if user_reviews %}
    <ul>
        {% for re in user_reviews %}
        <li>
            <strong>Name:</strong> {{ re.name }}<br>
            <strong>Status:</strong> {{ re.status }}<br>
            <strong>Grade:</strong> {{ re.grade }}<br>
            <strong>Review:</strong> {{ re.review }}<br>
            <strong>Date:</strong> {{ re.review_date }}<br>
            <form method="POST" action="{{ url_for('myreviews') }}">
                <input type="hidden" name="csrf_token" value="{{ session['csrf_token'] }}">
                <input type="hidden" name="review_id" value="{{ re.id }}">
                Favourite? <br>
                <!-- <input type="radio" name="delete" value="yes"> Delete review
                <button type="submit">Submit</button> -->
                <button type="submit">Delete review</button>
            </form>
            <hr>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>{{ error_message }}</p>
    {% endif %}
    {% if user_reviews %}
        Average grade of books reviewed by you: {{ review_average }}
        {% endif %}
    <br>
    <a href="/startpage">Back to startpage</a>
</body>

</html>

{% endblock %}