<!DOCTYPE html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>MyBooks</title>
<link rel="stylesheet" href="../static/style.css">
<h1><a href="/startpage">MyBooks</a></h1>

<p>Register</p>
<form action="/register" method="POST">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <p>Username:<br>
        <input type="text" name="username" pattern="[A-Za-z]{3,}" title="Only letters allowed, min length 3, max length 20"
               maxlength="20" required>
    </p>
    <p>Password:<br>
        <input type="password" name="password" pattern="(?=.*[A-Za-z])(?=.*\d).{5,}"
               title="Must contain letters and numbers, min length 5" required>
        <br>
    </p>
    <input type="submit" value="Register">
</form>

<a href='/'>Login</a>

