<!DOCTYPE html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>MyBooks</title>
<link rel="stylesheet" href="../static/style.css">
<h1><a href="/startpage">MyBooks</a></h1>

Register
<p>
<form action="/register" method="POST">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <p>Username (Maximum of 20 characters):<br>
        <input type="text" name="username" maxlength="20" required>
    </p>
    <p>Password (Maximum of 20 characters):<br>
        <input type="password" name="password" maxlength="20" required>
    </p>
    <input type="submit" value="Register">
</form>

<a href='/'>Login</a>

