<!DOCTYPE html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% extends "layout.html" %}
{% block navbar %}

Register
<p>
<form action="/register" method="POST">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <p>Username (Maximum of 20 characters):<br>
        <input type="text" name="username" maxlength="20" required>
    </p>
    <p>Password (Maximum of 20 characters):<br>
        <input type="password" name="password" maxlength="20" required>
    </p>
    <input type="submit" value="Register">
</form>

<a href='/'>Back to login</a>

{% endblock %}