<!DOCTYPE html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% extends "layout.html" %}
{% block navbar %}

<h2>Search</h2>
<br>
<p> Search for a book:
<form action="/showbooks" method="GET">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    Search by title or author: <input type="text" name="query" required>
    <br>
    <input type="submit" value="Search">
</form>
<br>
<br>

<br>
<form action="/showusers" method="GET">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    Search for a user: <input type="text" name="query" required>
    <br>
    <input type="submit" value="Search">
</form>
<br>

    Can't find the book you're looking for? <br>
    <br>
    <a href="/addbook">
        <button>Add new book to database</button>
    </a>
    <br>
    <br>
    <br>
    <br>
    <br>


    {% endblock %}