<!DOCTYPE html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% extends "layout.html" %}
{% block nonavbar %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
</head>

<body>
    <h1>Books found:</h1>

    {% if found_books %}
    <ul>
        {% for book in found_books %}
        <li>
            <form method="POST" action="{{ url_for('showbooks') }}">
                <input type="hidden" name="csrf_token" value="{{ session['csrf_token'] }}">
                <input type="hidden" name="book_id" value="{{ book.id }}">
                Book: <a href="{{ url_for('addreview', bookname=book.bookname) }}">{{ book.bookname }}</a>
                <br>
                <strong>Author(s):</strong> {{ book.author }}<br>
                <strong>Year:</strong> {{ book.year }}<br>

                <button type="submit">Favourite </button>
            </form>
            <hr>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>{{ error_message }}</p>
    {% endif %}

</body>

</html>


{% endblock %}