<!DOCTYPE html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% extends "layout.html" %}
{% block navbar %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
</head>

<body>
    <h1>Friends:</h1>

    {% if found_friends %}
    <ul>
        {% for friend in found_friends %}
        <li>
            {% if friend.friend1 == session_user %}
                <a href="{{ url_for('userprofile', username=friend.friend2) }}">{{ friend.friend2 }}</a>
            {% else %}
                <a href="{{ url_for('userprofile', username=friend.friend1) }}">{{ friend.friend1 }}</a>
            {% endif %}
            <hr>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No friends yet.</p>
    {% endif %}
</body>

</html>
{% endblock %}