<!DOCTYPE html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% extends "layout.html" %}
{% block navbar %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
</head>

<body>
    <h1>Books found:</h1>

    {% if found_books %}
    <ul>
        {% for book in found_books %}
        <li>
          Book:  <a href="{{ url_for('addreview', bookname=book.bookname) }}">{{ book.bookname }}</a>
            <br>
            <strong>Author(s):</strong> {{ book.author }}<br>
            <strong>Year:</strong> {{ book.year }}<br>
            <hr>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>{{ error_message }}</p>
    {% endif %}

</body>

</html>

{% endblock %}