<!DOCTYPE html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% extends "layout.html" %}
{% block nonavbar %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
</head>

<body>
    <h1>Friends:</h1>

    {% if found_friends %}
    <ul>
        {% for friend_info in found_friends %}
            <li>
                <p>Friend: <a href="{{ url_for('userprofile', username=friend_info.friend_username) }}">{{ friend_info.friend_username }}</a></p>
                {% if friend_info.reviews %}
                    <ul>
                        {% for review in friend_info.reviews %}
                            <li>
                                <p>Book: {{ review.name }}</p>
                                <p>Status: {{ review.status }}</p>
                                <p>Grade: {{ review.grade }}</p>
                                <p>Review: {{ review.review }}</p>
                                <p>Review Date: {{ review.review_date }}</p>
                                <hr>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No reviews for this friend.</p>
                {% endif %}
                <hr>
            </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No friends yet.</p>
    {% endif %}
</body>

</html>
{% endblock %}