<!DOCTYPE html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% extends "layout.html" %}
{% block navbar %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
</head>

<body>
    <h1>Users found:</h1>

    {% if found_users %}
    <ul>
        {% for user in found_users %}
        <li>
            {% if user.username == session["username"] %}
                <a href="{{ url_for('startpage') }}">{{ user.username }}</a>
                {% else %}
            <a href="{{ url_for('userprofile', username=user.username) }}">{{ user.username }}</a>
            {% endif %}
            <hr>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>{{ error_message }}</p>
    {% endif %}

    <a href="/startpage">Back to startpage</a>
</body>

</html>

{% endblock %}