
<!DOCTYPE html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% extends "layout.html" %}
{% block navbar %}

Welcome to MyBooks, {{ session.username }}!
<br>
<p>
    Here you can list and review all the books you have read.
    You can view your reviews or make new ones, search for the book you want to review from the database.
    <div style="text-decoration: underline;">
    You can return to the main page by clicking the 'MyBooks' icon in the left corner!
    </div>
<p>
    <br>
    <a href="/myreviews">
        <button>My Reviews</button>
    </a>
<p>

<p>
    <a href="/search">
        <button>Search for a book/users</button>
    </a>
    <p>

    <a href="/logout">Log out</a>


    {% endblock %}
