<!DOCTYPE html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% extends "layout.html" %}

{% block navbar %}
    <h1>User Profile</h1>
    You can connect with other MyBooks users, if they have also connected with you, you will see each others reviews. 
    You can choose no if you want to delete a connection.
    <br>
    <p><strong>Username:</strong> {{ user.username }}</p>

    <form method="post" >
        <input type="hidden" name="viewed_user" value="{{ user.username }}">
        Connect?: <br>
        <input type="radio" name="connect" value="yes"> yes
        <input type="radio" name="connect" value="no"> no
        <br>
        <br>
        <button type="submit">Submit</button>
    </form>
{% endblock %}
