<!DOCTYPE html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% extends "layout.html" %}

{% block nonavbar %}
    <h1>User Profile</h1>
    <br>
    <p><strong>Username:</strong> {{ user.username }}</p>
    <br>
    You can connect with other MyBooks users, if they have also connected with you, you will see each others reviews. 
    You can choose no if you want to remove a connection.
    <br>
    <p><strong>Username:</strong> {{ user.username }}</p>

    <form method="post" >
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <input type="hidden" name="viewed_user" value="{{ user.username }}">
        <input type="submit" value="Connect with user">
        <br>
        <br>

    </form>
{% endblock %}
